<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-locationtrack" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>LocationTrackPlugin</name><js-module name="LocationTrackPlugin" src="www/LocationTrackPlugin.js"><clobbers target="cordova.plugins.LocationTrackPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="LocationTrackPlugin"><param name="ios-package" value="LocationTrackPlugin" /></feature></config-file><source-file src="src/ios/LocationTrackPlugin.swift" /></platform></plugin>